n8n_guardian_workflow.json
{
  "name": "GUARDIAN HITL Decision Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "guardian-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-alert",
      "name": "Guardian Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "guardian-alert-00001"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegram_message",
              "value": "=🚨 <b>GUARDIAN — Gray Zone Escalation</b>\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n<b>Domain:</b> {{ $json.body.domain.toUpperCase() }}\n<b>Tool Blocked:</b> <code>{{ $json.body.tool_name }}()</code>\n<b>Anomaly Type:</b> {{ $json.body.classified_attack }}\n<b>Capability Tags:</b> <code>{{ $json.body.capability_tags }}</code>\n<b>Risk Score:</b> {{ ($json.body.risk_score * 100).toFixed(0) }}% ⚠️\n\n<b>Counterfactual:</b>\n<i>{{ $json.body.counterfactual }}</i>\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n<b>Context ID:</b> <code>{{ $json.body.context_id }}</code>\nStep {{ $json.body.episode_step }} | Awaiting your decision:"
            },
            {
              "name": "context_id",
              "value": "={{ $json.body.context_id }}"
            }
          ]
        }
      },
      "id": "node-set-message",
      "name": "Format Alert Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8307690683",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={{ JSON.stringify({ inline_keyboard: [[ { text: '✅ ALLOW (Execute)', callback_data: 'allow|' + $json.context_id }, { text: '🚫 BLOCK (Terminate)', callback_data: 'block|' + $json.context_id }, { text: '👁️ SHADOW (Honeypot)', callback_data: 'shadow|' + $json.context_id } ]] }) }}"
        }
      },
      "id": "node-telegram-send",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Guardian Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"escalation_received\", \"context_id\": \"{{ $('Format Alert Message').item.json.context_id }}\" }"
      },
      "id": "node-webhook-response",
      "name": "Acknowledge to Guardian",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-telegram-callback",
      "name": "Telegram Button Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 580],
      "webhookId": "telegram-callback-00002"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "decision",
              "value": "={{ $json.callback_query.data.split('|')[0] }}"
            },
            {
              "name": "context_id",
              "value": "={{ $json.callback_query.data.split('|')[1] }}"
            }
          ]
        }
      },
      "id": "node-parse-callback",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [460, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/hitl/decision",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "context_id",
              "value": "={{ $json.context_id }}"
            },
            {
              "name": "decision",
              "value": "={{ $json.decision }}"
            }
          ]
        }
      },
      "id": "node-post-decision",
      "name": "POST Decision to Guardian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [680, 580]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8307690683",
        "text": "=✅ Decision submitted to GUARDIAN\n<b>Decision:</b> {{ $('Parse Decision').item.json.decision.toUpperCase() }}\n<b>Context:</b> <code>{{ $('Parse Decision').item.json.context_id }}</code>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "node-confirm-telegram",
      "name": "Confirm to User",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [900, 580],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Guardian Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }"
      },
      "id": "node-telegram-ack",
      "name": "Ack Telegram Callback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 580]
    }
  ],
  "connections": {
    "Guardian Alert Webhook": {
      "main": [
        [
          {
            "node": "Format Alert Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Alert Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Acknowledge to Guardian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Button Callback": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "POST Decision to Guardian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Decision to Guardian": {
      "main": [
        [
          {
            "node": "Confirm to User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm to User": {
      "main": [
        [
          {
            "node": "Ack Telegram Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
